<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
        <div class="col-lg-11">
      <ul>
         <li><h1>Estudio 1</h1> - <h3>(years)</h3></li>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam eius ad dolore libero nam. Optio magnam, facilis, earum doloribus explicabo repellat voluptas fugiat placeat pariatur magni corporis impedit. Optio, dignissimos.</p>
      </ul>
      <ul>
          <li><h1>Estudio 2</h1> - <h3>(years)</h3></li>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam eius ad dolore libero nam. Optio magnam, facilis, earum doloribus explicabo repellat voluptas fugiat placeat pariatur magni corporis impedit. Optio, dignissimos.</p>
      </ul>
       <ul>
          <li><h1>Colegio Juan XXII</h1> - <h3>(years)</h3></li>
          <p>Tecnico en gestion comercial</p>
      </ul>
    </div>
    </div>