.row{
    padding: 15px;
}
div{
    background-color: rgba(29, 43, 172, 0.678);
    text-align: center;
}
/*Estilo de foto de perfil*/
@media(min-width: 576px){
    #fotodeperfil{
        position:absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 1px 1px 1px grey;
        left: 1%;
        top: 650px;
    }
}
@media(max-width: 575px){
    #fotodeperfil{
        position:absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 1px 1px 1px grey;
        left: 30%;
        top: 610px;
    }
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
    
}