<div class="row">
<h1>Experiencia Laboral</h1>
<div class="col-lg-1">
    <div class="col-lg-11"></div>
  <ul>
     <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam eius ad dolore libero nam. Optio magnam, facilis, earum doloribus explicabo repellat voluptas fugiat placeat pariatur magni corporis impedit. Optio, dignissimos.</p>
  </ul>
  <ul>
      <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam eius ad dolore libero nam. Optio magnam, facilis, earum doloribus explicabo repellat voluptas fugiat placeat pariatur magni corporis impedit. Optio, dignissimos.</p>
  </ul>
   <ul>
      <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam eius ad dolore libero nam. Optio magnam, facilis, earum doloribus explicabo repellat voluptas fugiat placeat pariatur magni corporis impedit. Optio, dignissimos.</p>
  </ul>
</div>
</div>
